<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqULU_yov-2lbAPti2jOEo5IZFLMTWZWI</string>
	<key>GCM_SENDER_ID</key>
	<string>611082216201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.charland.ThreadsTutorial</string>
	<key>PROJECT_ID</key>
	<string>threadstutorial-ff34f</string>
	<key>STORAGE_BUCKET</key>
	<string>threadstutorial-ff34f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611082216201:ios:40d181a673295fdf5d69d8</string>
</dict>
</plist>